.c-hero {
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 96px;

    &__container {
        display: grid;
        grid-template-columns: $twelve-column-grid;
        max-width: $container-lg;
        padding-block: 110px;
        margin: 0 auto;
        color: white;
    }

    &__title,
    &__subtitle,
    &__lead,
    &__button {
        grid-column: 2 / -2;
        color: inherit;
    }

    &__lead {
        grid-row: 1;
        display: flex;
        align-items: flex-end;
    }

    &__title {
        grid-row: 2;
        font-size: 3rem;
        line-height: 1;
        margin-inline-start: -3px;

        @media screen and (min-width: $container-md) {
            font-size: 5rem;
          }
    }

    &__subtitle {
        grid-row: 3;
        padding-top: 5px;
    }

    &__button {
        grid-row: 4;
        margin-top: 3rem;
        padding: 0.75rem 1.5rem;
        background: black;
        border-radius: 3px;
        max-width: fit-content;
    }
}