.header {
  $header-height: 70px;

  position: fixed;
  top: 0;
  z-index: 10;
  min-width: 100vw;
  height: $header-height;

  a {
    text-decoration: none;

    span {
      color: $white;
    }
  }

  li {
    list-style-type: none;
  }

  &__nav {
    grid-column: 2 / -2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
  }

  &__logo-link {
    color: white;
    font-size: 2rem;
  }

  &__nav-links {
    position: absolute;
    z-index: 20;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    min-width: 200px;
    padding: 1rem;
    padding-top: $header-height;
    border-radius: 6px;
    background-color: black;

    @media screen and (min-width: 800px) {
      position: static;
      display: flex !important;
      flex-direction: row;
      justify-content: end;
      padding: 0;
      min-width: none;
      background-color: transparent;
    }
  }

  &__nav-item {
    @media screen and (min-width: 800px) {
      padding-left: 1rem;
    }
  }
}