// Reset
*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

// Imports
@import "variables.scss";
@import "header.scss";
@import "hamburger.scss";

body {
  -webkit-overflow-scrolling: touch;

  font-family: $font;
  font-weight: $font-weight;

  background-color: $background;

  a {
    text-decoration: $link-decoration;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: $twelve-column-grid;
}