{{ $c := "c-hero-classic" }}

<style>
    .c-hero-classic {
        background: url({{ .background.background_image }}){{ .background.background_color }};
    }
</style>

<div class="{{ $c }}">
    <div class="{{ $c }}__container">
        <p class="{{ $c }}__lead">{{ .lead }}</p>
        <h1 class="{{ $c }}__title">{{ .title }}</h1>
        <p class="{{ $c }}__subtitle">{{ .subtitle }}</p>
        {{ if .button }}
            <a class="{{ $c }}__button"
                {{ if .button.button_target }}              
                    {{ $blank := "_blank" }}
                    {{ $self := "_self" }}
                    {{ $target := .button.button_target }}
                    {{ if eq $blank $target }} target="_blank"{{ end }} 
                    {{ if eq $blank $self }} target="_self"{{ end }} 
                {{ end }}
                href="{{ .button.button_link }}">
                {{ .button.button_text }}
            </a>
        {{ end }}
    </div>
</div>
